body {
  background-color: #3FB8AF;
  margin: 0;
}

h1 {
  border-bottom: 5px solid #DAD8A7;
  margin-top: 0;
}

h2 {
  background-color: #3FB8AF;
  text-align: center;
  color: #FFCECD;
  border-bottom: 5px solid #DAD8A7;
  border-top: 5px solid #DAD8A7;
}

h1, #footer {
  background-color: #3FB8AF;
  text-align: center;
  color: #FFCECD;
}

a, #content {
  color: #EF2D6F;
}

#content {
  background-color: #BFF5EC;
  padding-bottom: 19px;
}

#footer {
  border-top: 5px solid #DAD8A7;
}

p {
  padding: 0 5px;
  margin: 0;
}

